<footer class="footer">
  <div class="cta-banner">
    <div class="cta-container">
      <div class="cta-left">
        <img src="assets/images/phone-icon.svg" alt="Phone" width="22" height="22">
        <span>{{ lang.t('footer.callToSell') }}</span>
      </div>
      <div class="cta-logo">
        <img src="assets/images/logo.svg" alt="Seedha Bazaar Logo" width="30" height="30">
        <div class="cta-logo-text">
          <span class="logo-name"><span class="seedha">SEEDHA</span> <span class="bazaar">BAZAAR</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-container">
      <div class="footer-col">
        <h4>{{ lang.t('footer.navigation') }}</h4>
        <a href="#rates">{{ lang.t('header.todaysRates') }}</a>
      </div>
      <div class="footer-col">
        <h4>{{ lang.t('footer.todayRates') }}</h4>
        <a href="#how-it-works">{{ lang.t('header.howItWorks') }}</a>
      </div>
      <div class="footer-col">
        <h4>{{ lang.t('footer.aboutUs') }}</h4>
        <a href="#">{{ lang.t('footer.aboutSB') }}</a>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <p>&copy; {{ currentYear }} Seedha Bazaar. All rights reserved.</p>
  </div>
</footer>
